@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir Next";
  src: url("/font/Avenir_Light/Avenir_Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/font/Avenir_Next/AvenirNextLTPro-It.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/font/Avenir_Next/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/font/Avenir_Next/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Baskerville";
  src: url("/font/Baskerville/Baskervville-Italic.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Baskerville";
  src: url("/font/Baskerville/Baskervville-Regular.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 34, 34, 34;
  --background-end-rgb: 34, 34, 34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 34, 34, 34;
    --background-end-rgb: 34, 34, 34;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Avenir Next", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
